/** Estilos generales - dashboard.php **/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

main {
    margin: auto;
    width: 80%;
}

header {
    align-items: center;
    background-color: beige;
    display: flex;
    height: 100px;
    justify-content: space-between;
}

.logo {
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: 10px;
    height: 100px;
    width: 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
}

li {
    display: inline;
    margin-left: 10px;
}

nav li a:hover {
    color: red;
    font-weight: bold;
}

/** Clases propias **/
.center {
    text-align: center;
}

.right {
    text-align: right;
}

.options {
    display: flex;
    justify-content: space-around;
}

/** Estilos usuarios.php **/
.alert {
    background-color: green;
    padding: 5px 0;
    font-size: 12px;
    color: white;
    font-weight: bold;
}

.tbl-title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.btn-new {
    background-color: #2823bc;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding: 10px;
}

table {
    width: 100%;
}

th {
    background-color: #303030;
    border-bottom: 1px solid black;
    color: white;
    padding: 3px;
}

td {
    border-bottom: 1px solid black;
    padding: 3px;
}

.btn-edit {
    background-color: #e5be01;
    border-radius: 2px;
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 5px;
}

.btn-delete {
    background-color: red;
    border-radius: 2px;
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 5px;
}

/** Estilos nuevo.php **/
.frm-new {
    background-color: #ccc;
    border-radius: 10px;
    margin: auto;
    padding: 20px;
    width: 50%;
}

.get-text {
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    font-size: 16px;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

.btn-cancel-ok {
    display: flex;
    justify-content: end;
}

.btn-cancel {
    background-color: red;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
    padding: 10px;
}

.btn-save {
    background-color: green;
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
    padding: 10px;
}

footer {
    align-items: center;
    background-color: #cccccc;
    bottom: 0;
    display: flex;
    height: 50px;
    justify-content: center;
    position: absolute;
    width: 80%;
}